[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-environ = "*"
django-extensions = "*"
django-cors-headers = "*"
djoser = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"
pillow = "*"
opencv-python = "*"
pytesseract = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.9"
